.DS_Store
/dist
/ideaSDK
/android-studio/sdk
out/
/tmp
workspace.xml
*.versionsBackup
.gradle/
build/
*.iml
.idea/
local.properties
.build/
TestLambdaSdk/.swiftpm/
Package.resolved
.swiftpm/
TestLambdaSdk/Package.resolved
AWSClientRuntime/Package.resolved
AWSClientRuntime/AWSClientRuntime.xcodeproj
AWSClientRuntime/AWSClientRuntime.xcodeproj/
AWSClientRuntime/.swiftpm/xcode/xcuserdata/*
AWSClientRuntime/.swiftpm/xcode/package.xcworkspace/xcuserdata/*
codegen/protocol-test-codegen-local/smithy-build.json
codegen/protocol-test-codegen/smithy-build.json
