// Code generated by smithy-swift-codegen. DO NOT EDIT!

import ClientRuntime

public protocol SsoAdminClientProtocol {
    /// <p>Attaches an IAM managed policy ARN to a permission set.</p>
    ///          <note>
    ///             <p>If the permission set is already referenced by one or more account assignments, you will need to call <code>
    ///                   <a>ProvisionPermissionSet</a>
    ///                </code> after this action to apply the corresponding IAM policy updates to all assigned accounts.</p>
    ///          </note>
    func attachManagedPolicyToPermissionSet(input: AttachManagedPolicyToPermissionSetInput, completion: @escaping (SdkResult<AttachManagedPolicyToPermissionSetOutput, AttachManagedPolicyToPermissionSetOutputError>) -> Void)
    /// <p>Assigns access to a principal for a specified AWS account using a specified permission
    ///       set.</p>
    ///          <note>
    ///             <p>The term <i>principal</i> here refers to a user or group that is defined in AWS SSO.</p>
    ///          </note>
    ///          <note>
    ///             <p>As part of a successful <code>CreateAccountAssignment</code> call, the specified permission set will automatically be provisioned to the account in the form of an IAM policy attached to the SSO-created IAM role. If the permission set is subsequently updated, the corresponding IAM policies attached to roles in your accounts will not be updated automatically. In this case, you will need to call <code>
    ///                   <a>ProvisionPermissionSet</a>
    ///                </code> to make these updates.</p>
    ///          </note>
    func createAccountAssignment(input: CreateAccountAssignmentInput, completion: @escaping (SdkResult<CreateAccountAssignmentOutput, CreateAccountAssignmentOutputError>) -> Void)
    /// <p>Enables the attributes-based access control (ABAC) feature for the specified AWS SSO instance. You can also specify new attributes to add to your ABAC configuration during the enabling process. For more information about ABAC, see <a href="/singlesignon/latest/userguide/abac.html">Attribute-Based Access Control</a> in the <i>AWS SSO User Guide</i>.</p>
    func createInstanceAccessControlAttributeConfiguration(input: CreateInstanceAccessControlAttributeConfigurationInput, completion: @escaping (SdkResult<CreateInstanceAccessControlAttributeConfigurationOutput, CreateInstanceAccessControlAttributeConfigurationOutputError>) -> Void)
    /// <p>Creates a permission set within a specified SSO instance.</p>
    ///          <note>
    ///             <p>To grant users and groups access to AWS account resources, use <code>
    ///                   <a>CreateAccountAssignment</a>
    ///                </code>.</p>
    ///          </note>
    func createPermissionSet(input: CreatePermissionSetInput, completion: @escaping (SdkResult<CreatePermissionSetOutput, CreatePermissionSetOutputError>) -> Void)
    /// <p>Deletes a principal's access from a specified AWS account using a specified permission
    ///       set.</p>
    func deleteAccountAssignment(input: DeleteAccountAssignmentInput, completion: @escaping (SdkResult<DeleteAccountAssignmentOutput, DeleteAccountAssignmentOutputError>) -> Void)
    /// <p>Deletes the inline policy from a specified permission set.</p>
    func deleteInlinePolicyFromPermissionSet(input: DeleteInlinePolicyFromPermissionSetInput, completion: @escaping (SdkResult<DeleteInlinePolicyFromPermissionSetOutput, DeleteInlinePolicyFromPermissionSetOutputError>) -> Void)
    /// <p>Disables the attributes-based access control (ABAC) feature for the specified AWS SSO instance and deletes all of the attribute mappings that have been configured. Once deleted, any attributes that are received from an identity source and any custom attributes you have previously configured will not be passed. For more information about ABAC, see <a href="/singlesignon/latest/userguide/abac.html">Attribute-Based Access Control</a> in the <i>AWS SSO User Guide</i>.</p>
    func deleteInstanceAccessControlAttributeConfiguration(input: DeleteInstanceAccessControlAttributeConfigurationInput, completion: @escaping (SdkResult<DeleteInstanceAccessControlAttributeConfigurationOutput, DeleteInstanceAccessControlAttributeConfigurationOutputError>) -> Void)
    /// <p>Deletes the specified permission set.</p>
    func deletePermissionSet(input: DeletePermissionSetInput, completion: @escaping (SdkResult<DeletePermissionSetOutput, DeletePermissionSetOutputError>) -> Void)
    /// <p>Describes the status of the assignment creation request.</p>
    func describeAccountAssignmentCreationStatus(input: DescribeAccountAssignmentCreationStatusInput, completion: @escaping (SdkResult<DescribeAccountAssignmentCreationStatusOutput, DescribeAccountAssignmentCreationStatusOutputError>) -> Void)
    /// <p>Describes the status of the assignment deletion request.</p>
    func describeAccountAssignmentDeletionStatus(input: DescribeAccountAssignmentDeletionStatusInput, completion: @escaping (SdkResult<DescribeAccountAssignmentDeletionStatusOutput, DescribeAccountAssignmentDeletionStatusOutputError>) -> Void)
    /// <p>Returns the list of AWS SSO identity store attributes that have been configured to work with attributes-based access control (ABAC) for the specified AWS SSO instance. This will not return attributes configured and sent by an external identity provider. For more information about ABAC, see <a href="/singlesignon/latest/userguide/abac.html">Attribute-Based Access Control</a> in the <i>AWS SSO User Guide</i>.</p>
    func describeInstanceAccessControlAttributeConfiguration(input: DescribeInstanceAccessControlAttributeConfigurationInput, completion: @escaping (SdkResult<DescribeInstanceAccessControlAttributeConfigurationOutput, DescribeInstanceAccessControlAttributeConfigurationOutputError>) -> Void)
    /// <p>Gets the details of the permission set.</p>
    func describePermissionSet(input: DescribePermissionSetInput, completion: @escaping (SdkResult<DescribePermissionSetOutput, DescribePermissionSetOutputError>) -> Void)
    /// <p>Describes the status for the given permission set provisioning request.</p>
    func describePermissionSetProvisioningStatus(input: DescribePermissionSetProvisioningStatusInput, completion: @escaping (SdkResult<DescribePermissionSetProvisioningStatusOutput, DescribePermissionSetProvisioningStatusOutputError>) -> Void)
    /// <p>Detaches the attached IAM managed policy ARN from the specified permission set.</p>
    func detachManagedPolicyFromPermissionSet(input: DetachManagedPolicyFromPermissionSetInput, completion: @escaping (SdkResult<DetachManagedPolicyFromPermissionSetOutput, DetachManagedPolicyFromPermissionSetOutputError>) -> Void)
    /// <p>Obtains the inline policy assigned to the permission set.</p>
    func getInlinePolicyForPermissionSet(input: GetInlinePolicyForPermissionSetInput, completion: @escaping (SdkResult<GetInlinePolicyForPermissionSetOutput, GetInlinePolicyForPermissionSetOutputError>) -> Void)
    /// <p>Lists the status of the AWS account assignment creation requests for a specified SSO
    ///        instance.</p>
    func listAccountAssignmentCreationStatus(input: ListAccountAssignmentCreationStatusInput, completion: @escaping (SdkResult<ListAccountAssignmentCreationStatusOutput, ListAccountAssignmentCreationStatusOutputError>) -> Void)
    /// <p>Lists the status of the AWS account assignment deletion requests for a specified SSO
    ///        instance.</p>
    func listAccountAssignmentDeletionStatus(input: ListAccountAssignmentDeletionStatusInput, completion: @escaping (SdkResult<ListAccountAssignmentDeletionStatusOutput, ListAccountAssignmentDeletionStatusOutputError>) -> Void)
    /// <p>Lists the assignee of the specified AWS account with the specified permission
    ///        set.</p>
    func listAccountAssignments(input: ListAccountAssignmentsInput, completion: @escaping (SdkResult<ListAccountAssignmentsOutput, ListAccountAssignmentsOutputError>) -> Void)
    /// <p>Lists all the AWS accounts where the specified permission set is provisioned.</p>
    func listAccountsForProvisionedPermissionSet(input: ListAccountsForProvisionedPermissionSetInput, completion: @escaping (SdkResult<ListAccountsForProvisionedPermissionSetOutput, ListAccountsForProvisionedPermissionSetOutputError>) -> Void)
    /// <p>Lists the SSO instances that the caller has access to.</p>
    func listInstances(input: ListInstancesInput, completion: @escaping (SdkResult<ListInstancesOutput, ListInstancesOutputError>) -> Void)
    /// <p>Lists the IAM managed policy that is attached to a specified permission set.</p>
    func listManagedPoliciesInPermissionSet(input: ListManagedPoliciesInPermissionSetInput, completion: @escaping (SdkResult<ListManagedPoliciesInPermissionSetOutput, ListManagedPoliciesInPermissionSetOutputError>) -> Void)
    /// <p>Lists the status of the permission set provisioning requests for a specified SSO
    ///       instance.</p>
    func listPermissionSetProvisioningStatus(input: ListPermissionSetProvisioningStatusInput, completion: @escaping (SdkResult<ListPermissionSetProvisioningStatusOutput, ListPermissionSetProvisioningStatusOutputError>) -> Void)
    /// <p>Lists the <a>PermissionSet</a>s in an SSO instance.</p>
    func listPermissionSets(input: ListPermissionSetsInput, completion: @escaping (SdkResult<ListPermissionSetsOutput, ListPermissionSetsOutputError>) -> Void)
    /// <p>Lists all the permission sets that are provisioned to a specified AWS account.</p>
    func listPermissionSetsProvisionedToAccount(input: ListPermissionSetsProvisionedToAccountInput, completion: @escaping (SdkResult<ListPermissionSetsProvisionedToAccountOutput, ListPermissionSetsProvisionedToAccountOutputError>) -> Void)
    /// <p>Lists the tags that are attached to a specified resource.</p>
    func listTagsForResource(input: ListTagsForResourceInput, completion: @escaping (SdkResult<ListTagsForResourceOutput, ListTagsForResourceOutputError>) -> Void)
    /// <p>The process by which a specified permission set is provisioned to the specified target.</p>
    func provisionPermissionSet(input: ProvisionPermissionSetInput, completion: @escaping (SdkResult<ProvisionPermissionSetOutput, ProvisionPermissionSetOutputError>) -> Void)
    /// <p>Attaches an IAM inline policy to a permission set.</p>
    ///          <note>
    ///             <p>If the permission set is already referenced by one or more account assignments, you will need to call <code>
    ///                   <a>ProvisionPermissionSet</a>
    ///                </code> after this action to apply the corresponding IAM policy updates to all assigned accounts.</p>
    ///          </note>
    func putInlinePolicyToPermissionSet(input: PutInlinePolicyToPermissionSetInput, completion: @escaping (SdkResult<PutInlinePolicyToPermissionSetOutput, PutInlinePolicyToPermissionSetOutputError>) -> Void)
    /// <p>Associates a set of tags with a specified resource.</p>
    func tagResource(input: TagResourceInput, completion: @escaping (SdkResult<TagResourceOutput, TagResourceOutputError>) -> Void)
    /// <p>Disassociates a set of tags from a specified resource.</p>
    func untagResource(input: UntagResourceInput, completion: @escaping (SdkResult<UntagResourceOutput, UntagResourceOutputError>) -> Void)
    /// <p>Updates the AWS SSO identity store attributes to use with the AWS SSO instance for attributes-based access control (ABAC). When using an external identity provider as an identity source, you can pass attributes through the SAML assertion as an alternative to configuring attributes from the AWS SSO identity store. If a SAML assertion passes any of these attributes, AWS SSO will replace the attribute value with the value from the AWS SSO identity store. For more information about ABAC, see <a href="/singlesignon/latest/userguide/abac.html">Attribute-Based Access Control</a> in the <i>AWS SSO User Guide</i>.</p>
    func updateInstanceAccessControlAttributeConfiguration(input: UpdateInstanceAccessControlAttributeConfigurationInput, completion: @escaping (SdkResult<UpdateInstanceAccessControlAttributeConfigurationOutput, UpdateInstanceAccessControlAttributeConfigurationOutputError>) -> Void)
    /// <p>Updates an existing permission set.</p>
    func updatePermissionSet(input: UpdatePermissionSetInput, completion: @escaping (SdkResult<UpdatePermissionSetOutput, UpdatePermissionSetOutputError>) -> Void)
}
