// Code generated by smithy-swift-codegen. DO NOT EDIT!

import AWSClientRuntime
import ClientRuntime
import Foundation

public class AppMeshClient {
    let client: SdkHttpClient
    let config: AppMeshClientConfiguration
    let serviceName = "App Mesh"
    let encoder: RequestEncoder
    let decoder: ResponseDecoder

    public init(config: AppMeshClientConfiguration) {
        client = SdkHttpClient(engine: config.httpClientEngine, config: config.httpClientConfiguration)
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .secondsSince1970
        self.encoder = config.encoder ?? encoder
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .secondsSince1970
        self.decoder = config.decoder ?? decoder
        self.config = config
    }

    public class AppMeshClientConfiguration: ClientRuntime.Configuration, AWSClientConfiguration {

        public var region: String
        public var credentialsProvider: AWSCredentialsProvider
        public var signingRegion: String
        public var endpointResolver: EndpointResolver

        public init (
            credentialsProvider: AWSCredentialsProvider,
            endpointResolver: EndpointResolver,
            region: String,
            signingRegion: String
        ) throws
        {
            self.credentialsProvider = credentialsProvider
            self.endpointResolver = endpointResolver
            self.region = region
            self.signingRegion = signingRegion
        }

        public convenience init(credentialsProvider: AWSCredentialsProvider) throws {
            let region = "us-east-1"
            let signingRegion = "us-east-1"
            let endpointResolver = DefaultEndpointResolver()
            try self.init(
                credentialsProvider: credentialsProvider,
                endpointResolver: endpointResolver,
                region: region,
                signingRegion: signingRegion
            )
        }

        public static func `default`() throws -> AppMeshClientConfiguration {
            let awsCredsProvider = try AWSCredentialsProvider.fromEnv()
            return try AppMeshClientConfiguration(credentialsProvider: awsCredsProvider)
        }
    }
}

extension AppMeshClient: AppMeshClientProtocol {
    /// <p>Creates a gateway route.</p>
    ///          <p>A gateway route is attached to a virtual gateway and routes traffic to an existing
    ///          virtual service. If a route matches a request, it can distribute traffic to a target
    ///          virtual service.</p>
    ///          <p>For more information about gateway routes, see <a href="https://docs.aws.amazon.com/app-mesh/latest/userguide/gateway-routes.html">Gateway routes</a>.</p>
    public func createGatewayRoute(input: CreateGatewayRouteInput, completion: @escaping (SdkResult<CreateGatewayRouteOutput, CreateGatewayRouteOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        guard let virtualGatewayName = input.virtualGatewayName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component virtualGatewayName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualGateway/\(virtualGatewayName)/gatewayRoutes"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .put)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "createGatewayRoute")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<CreateGatewayRouteInput, CreateGatewayRouteOutput, CreateGatewayRouteOutputError>(id: "createGatewayRoute")
        operation.addDefaultOperationMiddlewares()
        operation.initializeStep.intercept(position: .before, id: "IdempotencyTokenMiddleware") { (context, input, next) -> Result<OperationOutput<CreateGatewayRouteOutput>, SdkError<CreateGatewayRouteOutputError>> in
            let idempotencyTokenGenerator = context.getIdempotencyTokenGenerator()
            var copiedInput = input
            if input.clientToken == nil {
                copiedInput.clientToken = idempotencyTokenGenerator.generateToken()
            }
            return next.handle(context: context, input: copiedInput)
        }
        operation.serializeStep.intercept(position: .before, middleware: CreateGatewayRouteInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: CreateGatewayRouteInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<CreateGatewayRouteInput, CreateGatewayRouteOutput, CreateGatewayRouteOutputError>(contentType: "application/json"))
        operation.serializeStep.intercept(position: .before, middleware: CreateGatewayRouteInputBodyMiddleware())
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Creates a service mesh.</p>
    ///          <p> A service mesh is a logical boundary for network traffic between services that are
    ///          represented by resources within the mesh. After you create your service mesh, you can
    ///          create virtual services, virtual nodes, virtual routers, and routes to distribute traffic
    ///          between the applications in your mesh.</p>
    ///          <p>For more information about service meshes, see <a href="https://docs.aws.amazon.com/app-mesh/latest/userguide/meshes.html">Service meshes</a>.</p>
    public func createMesh(input: CreateMeshInput, completion: @escaping (SdkResult<CreateMeshOutput, CreateMeshOutputError>) -> Void)
    {
        let urlPath = "/v20190125/meshes"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .put)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "createMesh")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<CreateMeshInput, CreateMeshOutput, CreateMeshOutputError>(id: "createMesh")
        operation.addDefaultOperationMiddlewares()
        operation.initializeStep.intercept(position: .before, id: "IdempotencyTokenMiddleware") { (context, input, next) -> Result<OperationOutput<CreateMeshOutput>, SdkError<CreateMeshOutputError>> in
            let idempotencyTokenGenerator = context.getIdempotencyTokenGenerator()
            var copiedInput = input
            if input.clientToken == nil {
                copiedInput.clientToken = idempotencyTokenGenerator.generateToken()
            }
            return next.handle(context: context, input: copiedInput)
        }
        operation.serializeStep.intercept(position: .before, middleware: CreateMeshInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: CreateMeshInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<CreateMeshInput, CreateMeshOutput, CreateMeshOutputError>(contentType: "application/json"))
        operation.serializeStep.intercept(position: .before, middleware: CreateMeshInputBodyMiddleware())
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Creates a route that is associated with a virtual router.</p>
    ///          <p> You can route several different protocols and define a retry policy for a route.
    ///          Traffic can be routed to one or more virtual nodes.</p>
    ///          <p>For more information about routes, see <a href="https://docs.aws.amazon.com/app-mesh/latest/userguide/routes.html">Routes</a>.</p>
    public func createRoute(input: CreateRouteInput, completion: @escaping (SdkResult<CreateRouteOutput, CreateRouteOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        guard let virtualRouterName = input.virtualRouterName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component virtualRouterName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualRouter/\(virtualRouterName)/routes"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .put)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "createRoute")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<CreateRouteInput, CreateRouteOutput, CreateRouteOutputError>(id: "createRoute")
        operation.addDefaultOperationMiddlewares()
        operation.initializeStep.intercept(position: .before, id: "IdempotencyTokenMiddleware") { (context, input, next) -> Result<OperationOutput<CreateRouteOutput>, SdkError<CreateRouteOutputError>> in
            let idempotencyTokenGenerator = context.getIdempotencyTokenGenerator()
            var copiedInput = input
            if input.clientToken == nil {
                copiedInput.clientToken = idempotencyTokenGenerator.generateToken()
            }
            return next.handle(context: context, input: copiedInput)
        }
        operation.serializeStep.intercept(position: .before, middleware: CreateRouteInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: CreateRouteInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<CreateRouteInput, CreateRouteOutput, CreateRouteOutputError>(contentType: "application/json"))
        operation.serializeStep.intercept(position: .before, middleware: CreateRouteInputBodyMiddleware())
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Creates a virtual gateway.</p>
    ///          <p>A virtual gateway allows resources outside your mesh to communicate to resources that
    ///          are inside your mesh. The virtual gateway represents an Envoy proxy running in an Amazon ECS
    ///          task, in a Kubernetes service, or on an Amazon EC2 instance. Unlike a virtual node, which
    ///          represents an Envoy running with an application, a virtual gateway represents Envoy
    ///          deployed by itself.</p>
    ///          <p>For more information about virtual gateways, see <a href="https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_gateways.html">Virtual gateways</a>. </p>
    public func createVirtualGateway(input: CreateVirtualGatewayInput, completion: @escaping (SdkResult<CreateVirtualGatewayOutput, CreateVirtualGatewayOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualGateways"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .put)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "createVirtualGateway")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<CreateVirtualGatewayInput, CreateVirtualGatewayOutput, CreateVirtualGatewayOutputError>(id: "createVirtualGateway")
        operation.addDefaultOperationMiddlewares()
        operation.initializeStep.intercept(position: .before, id: "IdempotencyTokenMiddleware") { (context, input, next) -> Result<OperationOutput<CreateVirtualGatewayOutput>, SdkError<CreateVirtualGatewayOutputError>> in
            let idempotencyTokenGenerator = context.getIdempotencyTokenGenerator()
            var copiedInput = input
            if input.clientToken == nil {
                copiedInput.clientToken = idempotencyTokenGenerator.generateToken()
            }
            return next.handle(context: context, input: copiedInput)
        }
        operation.serializeStep.intercept(position: .before, middleware: CreateVirtualGatewayInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: CreateVirtualGatewayInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<CreateVirtualGatewayInput, CreateVirtualGatewayOutput, CreateVirtualGatewayOutputError>(contentType: "application/json"))
        operation.serializeStep.intercept(position: .before, middleware: CreateVirtualGatewayInputBodyMiddleware())
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Creates a virtual node within a service mesh.</p>
    ///          <p> A virtual node acts as a logical pointer to a particular task group, such as an Amazon ECS
    ///          service or a Kubernetes deployment. When you create a virtual node, you can specify the
    ///          service discovery information for your task group, and whether the proxy running in a task
    ///          group will communicate with other proxies using Transport Layer Security (TLS).</p>
    ///          <p>You define a <code>listener</code> for any inbound traffic that your virtual node
    ///          expects. Any virtual service that your virtual node expects to communicate to is specified
    ///          as a <code>backend</code>.</p>
    ///          <p>The response metadata for your new virtual node contains the <code>arn</code> that is
    ///          associated with the virtual node. Set this value to the full ARN; for example,
    ///             <code>arn:aws:appmesh:us-west-2:123456789012:myMesh/default/virtualNode/myApp</code>)
    ///          as the <code>APPMESH_RESOURCE_ARN</code> environment variable for your task group's Envoy
    ///          proxy container in your task definition or pod spec. This is then mapped to the
    ///             <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p>
    ///          <note>
    ///             <p>By default, App Mesh uses the name of the resource you specified in
    ///                <code>APPMESH_RESOURCE_ARN</code> when Envoy is referring to itself in metrics and
    ///             traces. You can override this behavior by setting the
    ///                <code>APPMESH_RESOURCE_CLUSTER</code> environment variable with your own name.</p>
    ///             <p>AWS Cloud Map is not available in the eu-south-1 Region.</p>
    ///          </note>
    ///          <p>For more information about virtual nodes, see <a href="https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_nodes.html">Virtual nodes</a>. You must be using <code>1.15.0</code> or later of the Envoy image when
    ///          setting these variables. For more information about App Mesh Envoy variables, see <a href="https://docs.aws.amazon.com/app-mesh/latest/userguide/envoy.html">Envoy image</a> in
    ///          the AWS App Mesh User Guide.</p>
    public func createVirtualNode(input: CreateVirtualNodeInput, completion: @escaping (SdkResult<CreateVirtualNodeOutput, CreateVirtualNodeOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualNodes"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .put)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "createVirtualNode")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<CreateVirtualNodeInput, CreateVirtualNodeOutput, CreateVirtualNodeOutputError>(id: "createVirtualNode")
        operation.addDefaultOperationMiddlewares()
        operation.initializeStep.intercept(position: .before, id: "IdempotencyTokenMiddleware") { (context, input, next) -> Result<OperationOutput<CreateVirtualNodeOutput>, SdkError<CreateVirtualNodeOutputError>> in
            let idempotencyTokenGenerator = context.getIdempotencyTokenGenerator()
            var copiedInput = input
            if input.clientToken == nil {
                copiedInput.clientToken = idempotencyTokenGenerator.generateToken()
            }
            return next.handle(context: context, input: copiedInput)
        }
        operation.serializeStep.intercept(position: .before, middleware: CreateVirtualNodeInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: CreateVirtualNodeInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<CreateVirtualNodeInput, CreateVirtualNodeOutput, CreateVirtualNodeOutputError>(contentType: "application/json"))
        operation.serializeStep.intercept(position: .before, middleware: CreateVirtualNodeInputBodyMiddleware())
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Creates a virtual router within a service mesh.</p>
    ///          <p>Specify a <code>listener</code> for any inbound traffic that your virtual router
    ///          receives. Create a virtual router for each protocol and port that you need to route.
    ///          Virtual routers handle traffic for one or more virtual services within your mesh. After you
    ///          create your virtual router, create and associate routes for your virtual router that direct
    ///          incoming requests to different virtual nodes.</p>
    ///          <p>For more information about virtual routers, see <a href="https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_routers.html">Virtual routers</a>.</p>
    public func createVirtualRouter(input: CreateVirtualRouterInput, completion: @escaping (SdkResult<CreateVirtualRouterOutput, CreateVirtualRouterOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualRouters"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .put)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "createVirtualRouter")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<CreateVirtualRouterInput, CreateVirtualRouterOutput, CreateVirtualRouterOutputError>(id: "createVirtualRouter")
        operation.addDefaultOperationMiddlewares()
        operation.initializeStep.intercept(position: .before, id: "IdempotencyTokenMiddleware") { (context, input, next) -> Result<OperationOutput<CreateVirtualRouterOutput>, SdkError<CreateVirtualRouterOutputError>> in
            let idempotencyTokenGenerator = context.getIdempotencyTokenGenerator()
            var copiedInput = input
            if input.clientToken == nil {
                copiedInput.clientToken = idempotencyTokenGenerator.generateToken()
            }
            return next.handle(context: context, input: copiedInput)
        }
        operation.serializeStep.intercept(position: .before, middleware: CreateVirtualRouterInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: CreateVirtualRouterInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<CreateVirtualRouterInput, CreateVirtualRouterOutput, CreateVirtualRouterOutputError>(contentType: "application/json"))
        operation.serializeStep.intercept(position: .before, middleware: CreateVirtualRouterInputBodyMiddleware())
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Creates a virtual service within a service mesh.</p>
    ///          <p>A virtual service is an abstraction of a real service that is provided by a virtual node
    ///          directly or indirectly by means of a virtual router. Dependent services call your virtual
    ///          service by its <code>virtualServiceName</code>, and those requests are routed to the
    ///          virtual node or virtual router that is specified as the provider for the virtual
    ///          service.</p>
    ///          <p>For more information about virtual services, see <a href="https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_services.html">Virtual services</a>.</p>
    public func createVirtualService(input: CreateVirtualServiceInput, completion: @escaping (SdkResult<CreateVirtualServiceOutput, CreateVirtualServiceOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualServices"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .put)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "createVirtualService")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<CreateVirtualServiceInput, CreateVirtualServiceOutput, CreateVirtualServiceOutputError>(id: "createVirtualService")
        operation.addDefaultOperationMiddlewares()
        operation.initializeStep.intercept(position: .before, id: "IdempotencyTokenMiddleware") { (context, input, next) -> Result<OperationOutput<CreateVirtualServiceOutput>, SdkError<CreateVirtualServiceOutputError>> in
            let idempotencyTokenGenerator = context.getIdempotencyTokenGenerator()
            var copiedInput = input
            if input.clientToken == nil {
                copiedInput.clientToken = idempotencyTokenGenerator.generateToken()
            }
            return next.handle(context: context, input: copiedInput)
        }
        operation.serializeStep.intercept(position: .before, middleware: CreateVirtualServiceInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: CreateVirtualServiceInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<CreateVirtualServiceInput, CreateVirtualServiceOutput, CreateVirtualServiceOutputError>(contentType: "application/json"))
        operation.serializeStep.intercept(position: .before, middleware: CreateVirtualServiceInputBodyMiddleware())
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Deletes an existing gateway route.</p>
    public func deleteGatewayRoute(input: DeleteGatewayRouteInput, completion: @escaping (SdkResult<DeleteGatewayRouteOutput, DeleteGatewayRouteOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        guard let virtualGatewayName = input.virtualGatewayName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component virtualGatewayName unexpectedly nil"))))
            return
        }
        guard let gatewayRouteName = input.gatewayRouteName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component gatewayRouteName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualGateway/\(virtualGatewayName)/gatewayRoutes/\(gatewayRouteName)"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .delete)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "deleteGatewayRoute")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<DeleteGatewayRouteInput, DeleteGatewayRouteOutput, DeleteGatewayRouteOutputError>(id: "deleteGatewayRoute")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: DeleteGatewayRouteInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: DeleteGatewayRouteInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<DeleteGatewayRouteInput, DeleteGatewayRouteOutput, DeleteGatewayRouteOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Deletes an existing service mesh.</p>
    ///          <p>You must delete all resources (virtual services, routes, virtual routers, and virtual
    ///          nodes) in the service mesh before you can delete the mesh itself.</p>
    public func deleteMesh(input: DeleteMeshInput, completion: @escaping (SdkResult<DeleteMeshOutput, DeleteMeshOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .delete)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "deleteMesh")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<DeleteMeshInput, DeleteMeshOutput, DeleteMeshOutputError>(id: "deleteMesh")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: DeleteMeshInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: DeleteMeshInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<DeleteMeshInput, DeleteMeshOutput, DeleteMeshOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Deletes an existing route.</p>
    public func deleteRoute(input: DeleteRouteInput, completion: @escaping (SdkResult<DeleteRouteOutput, DeleteRouteOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        guard let virtualRouterName = input.virtualRouterName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component virtualRouterName unexpectedly nil"))))
            return
        }
        guard let routeName = input.routeName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component routeName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualRouter/\(virtualRouterName)/routes/\(routeName)"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .delete)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "deleteRoute")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<DeleteRouteInput, DeleteRouteOutput, DeleteRouteOutputError>(id: "deleteRoute")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: DeleteRouteInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: DeleteRouteInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<DeleteRouteInput, DeleteRouteOutput, DeleteRouteOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Deletes an existing virtual gateway. You cannot delete a virtual gateway if any gateway
    ///          routes are associated to it.</p>
    public func deleteVirtualGateway(input: DeleteVirtualGatewayInput, completion: @escaping (SdkResult<DeleteVirtualGatewayOutput, DeleteVirtualGatewayOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        guard let virtualGatewayName = input.virtualGatewayName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component virtualGatewayName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualGateways/\(virtualGatewayName)"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .delete)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "deleteVirtualGateway")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<DeleteVirtualGatewayInput, DeleteVirtualGatewayOutput, DeleteVirtualGatewayOutputError>(id: "deleteVirtualGateway")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: DeleteVirtualGatewayInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: DeleteVirtualGatewayInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<DeleteVirtualGatewayInput, DeleteVirtualGatewayOutput, DeleteVirtualGatewayOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Deletes an existing virtual node.</p>
    ///          <p>You must delete any virtual services that list a virtual node as a service provider
    ///          before you can delete the virtual node itself.</p>
    public func deleteVirtualNode(input: DeleteVirtualNodeInput, completion: @escaping (SdkResult<DeleteVirtualNodeOutput, DeleteVirtualNodeOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        guard let virtualNodeName = input.virtualNodeName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component virtualNodeName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualNodes/\(virtualNodeName)"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .delete)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "deleteVirtualNode")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<DeleteVirtualNodeInput, DeleteVirtualNodeOutput, DeleteVirtualNodeOutputError>(id: "deleteVirtualNode")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: DeleteVirtualNodeInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: DeleteVirtualNodeInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<DeleteVirtualNodeInput, DeleteVirtualNodeOutput, DeleteVirtualNodeOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Deletes an existing virtual router.</p>
    ///          <p>You must delete any routes associated with the virtual router before you can delete the
    ///          router itself.</p>
    public func deleteVirtualRouter(input: DeleteVirtualRouterInput, completion: @escaping (SdkResult<DeleteVirtualRouterOutput, DeleteVirtualRouterOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        guard let virtualRouterName = input.virtualRouterName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component virtualRouterName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualRouters/\(virtualRouterName)"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .delete)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "deleteVirtualRouter")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<DeleteVirtualRouterInput, DeleteVirtualRouterOutput, DeleteVirtualRouterOutputError>(id: "deleteVirtualRouter")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: DeleteVirtualRouterInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: DeleteVirtualRouterInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<DeleteVirtualRouterInput, DeleteVirtualRouterOutput, DeleteVirtualRouterOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Deletes an existing virtual service.</p>
    public func deleteVirtualService(input: DeleteVirtualServiceInput, completion: @escaping (SdkResult<DeleteVirtualServiceOutput, DeleteVirtualServiceOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        guard let virtualServiceName = input.virtualServiceName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component virtualServiceName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualServices/\(virtualServiceName)"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .delete)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "deleteVirtualService")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<DeleteVirtualServiceInput, DeleteVirtualServiceOutput, DeleteVirtualServiceOutputError>(id: "deleteVirtualService")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: DeleteVirtualServiceInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: DeleteVirtualServiceInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<DeleteVirtualServiceInput, DeleteVirtualServiceOutput, DeleteVirtualServiceOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Describes an existing gateway route.</p>
    public func describeGatewayRoute(input: DescribeGatewayRouteInput, completion: @escaping (SdkResult<DescribeGatewayRouteOutput, DescribeGatewayRouteOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        guard let virtualGatewayName = input.virtualGatewayName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component virtualGatewayName unexpectedly nil"))))
            return
        }
        guard let gatewayRouteName = input.gatewayRouteName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component gatewayRouteName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualGateway/\(virtualGatewayName)/gatewayRoutes/\(gatewayRouteName)"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .get)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "describeGatewayRoute")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<DescribeGatewayRouteInput, DescribeGatewayRouteOutput, DescribeGatewayRouteOutputError>(id: "describeGatewayRoute")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: DescribeGatewayRouteInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: DescribeGatewayRouteInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<DescribeGatewayRouteInput, DescribeGatewayRouteOutput, DescribeGatewayRouteOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Describes an existing service mesh.</p>
    public func describeMesh(input: DescribeMeshInput, completion: @escaping (SdkResult<DescribeMeshOutput, DescribeMeshOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .get)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "describeMesh")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<DescribeMeshInput, DescribeMeshOutput, DescribeMeshOutputError>(id: "describeMesh")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: DescribeMeshInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: DescribeMeshInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<DescribeMeshInput, DescribeMeshOutput, DescribeMeshOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Describes an existing route.</p>
    public func describeRoute(input: DescribeRouteInput, completion: @escaping (SdkResult<DescribeRouteOutput, DescribeRouteOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        guard let virtualRouterName = input.virtualRouterName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component virtualRouterName unexpectedly nil"))))
            return
        }
        guard let routeName = input.routeName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component routeName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualRouter/\(virtualRouterName)/routes/\(routeName)"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .get)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "describeRoute")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<DescribeRouteInput, DescribeRouteOutput, DescribeRouteOutputError>(id: "describeRoute")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: DescribeRouteInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: DescribeRouteInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<DescribeRouteInput, DescribeRouteOutput, DescribeRouteOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Describes an existing virtual gateway.</p>
    public func describeVirtualGateway(input: DescribeVirtualGatewayInput, completion: @escaping (SdkResult<DescribeVirtualGatewayOutput, DescribeVirtualGatewayOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        guard let virtualGatewayName = input.virtualGatewayName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component virtualGatewayName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualGateways/\(virtualGatewayName)"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .get)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "describeVirtualGateway")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<DescribeVirtualGatewayInput, DescribeVirtualGatewayOutput, DescribeVirtualGatewayOutputError>(id: "describeVirtualGateway")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: DescribeVirtualGatewayInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: DescribeVirtualGatewayInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<DescribeVirtualGatewayInput, DescribeVirtualGatewayOutput, DescribeVirtualGatewayOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Describes an existing virtual node.</p>
    public func describeVirtualNode(input: DescribeVirtualNodeInput, completion: @escaping (SdkResult<DescribeVirtualNodeOutput, DescribeVirtualNodeOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        guard let virtualNodeName = input.virtualNodeName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component virtualNodeName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualNodes/\(virtualNodeName)"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .get)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "describeVirtualNode")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<DescribeVirtualNodeInput, DescribeVirtualNodeOutput, DescribeVirtualNodeOutputError>(id: "describeVirtualNode")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: DescribeVirtualNodeInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: DescribeVirtualNodeInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<DescribeVirtualNodeInput, DescribeVirtualNodeOutput, DescribeVirtualNodeOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Describes an existing virtual router.</p>
    public func describeVirtualRouter(input: DescribeVirtualRouterInput, completion: @escaping (SdkResult<DescribeVirtualRouterOutput, DescribeVirtualRouterOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        guard let virtualRouterName = input.virtualRouterName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component virtualRouterName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualRouters/\(virtualRouterName)"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .get)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "describeVirtualRouter")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<DescribeVirtualRouterInput, DescribeVirtualRouterOutput, DescribeVirtualRouterOutputError>(id: "describeVirtualRouter")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: DescribeVirtualRouterInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: DescribeVirtualRouterInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<DescribeVirtualRouterInput, DescribeVirtualRouterOutput, DescribeVirtualRouterOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Describes an existing virtual service.</p>
    public func describeVirtualService(input: DescribeVirtualServiceInput, completion: @escaping (SdkResult<DescribeVirtualServiceOutput, DescribeVirtualServiceOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        guard let virtualServiceName = input.virtualServiceName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component virtualServiceName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualServices/\(virtualServiceName)"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .get)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "describeVirtualService")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<DescribeVirtualServiceInput, DescribeVirtualServiceOutput, DescribeVirtualServiceOutputError>(id: "describeVirtualService")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: DescribeVirtualServiceInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: DescribeVirtualServiceInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<DescribeVirtualServiceInput, DescribeVirtualServiceOutput, DescribeVirtualServiceOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Returns a list of existing gateway routes that are associated to a virtual
    ///          gateway.</p>
    public func listGatewayRoutes(input: ListGatewayRoutesInput, completion: @escaping (SdkResult<ListGatewayRoutesOutput, ListGatewayRoutesOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        guard let virtualGatewayName = input.virtualGatewayName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component virtualGatewayName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualGateway/\(virtualGatewayName)/gatewayRoutes"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .get)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "listGatewayRoutes")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<ListGatewayRoutesInput, ListGatewayRoutesOutput, ListGatewayRoutesOutputError>(id: "listGatewayRoutes")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: ListGatewayRoutesInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ListGatewayRoutesInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<ListGatewayRoutesInput, ListGatewayRoutesOutput, ListGatewayRoutesOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Returns a list of existing service meshes.</p>
    public func listMeshes(input: ListMeshesInput, completion: @escaping (SdkResult<ListMeshesOutput, ListMeshesOutputError>) -> Void)
    {
        let urlPath = "/v20190125/meshes"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .get)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "listMeshes")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<ListMeshesInput, ListMeshesOutput, ListMeshesOutputError>(id: "listMeshes")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: ListMeshesInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ListMeshesInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<ListMeshesInput, ListMeshesOutput, ListMeshesOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Returns a list of existing routes in a service mesh.</p>
    public func listRoutes(input: ListRoutesInput, completion: @escaping (SdkResult<ListRoutesOutput, ListRoutesOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        guard let virtualRouterName = input.virtualRouterName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component virtualRouterName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualRouter/\(virtualRouterName)/routes"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .get)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "listRoutes")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<ListRoutesInput, ListRoutesOutput, ListRoutesOutputError>(id: "listRoutes")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: ListRoutesInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ListRoutesInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<ListRoutesInput, ListRoutesOutput, ListRoutesOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>List the tags for an App Mesh resource.</p>
    public func listTagsForResource(input: ListTagsForResourceInput, completion: @escaping (SdkResult<ListTagsForResourceOutput, ListTagsForResourceOutputError>) -> Void)
    {
        let urlPath = "/v20190125/tags"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .get)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "listTagsForResource")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<ListTagsForResourceInput, ListTagsForResourceOutput, ListTagsForResourceOutputError>(id: "listTagsForResource")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: ListTagsForResourceInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ListTagsForResourceInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<ListTagsForResourceInput, ListTagsForResourceOutput, ListTagsForResourceOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Returns a list of existing virtual gateways in a service mesh.</p>
    public func listVirtualGateways(input: ListVirtualGatewaysInput, completion: @escaping (SdkResult<ListVirtualGatewaysOutput, ListVirtualGatewaysOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualGateways"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .get)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "listVirtualGateways")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<ListVirtualGatewaysInput, ListVirtualGatewaysOutput, ListVirtualGatewaysOutputError>(id: "listVirtualGateways")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: ListVirtualGatewaysInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ListVirtualGatewaysInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<ListVirtualGatewaysInput, ListVirtualGatewaysOutput, ListVirtualGatewaysOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Returns a list of existing virtual nodes.</p>
    public func listVirtualNodes(input: ListVirtualNodesInput, completion: @escaping (SdkResult<ListVirtualNodesOutput, ListVirtualNodesOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualNodes"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .get)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "listVirtualNodes")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<ListVirtualNodesInput, ListVirtualNodesOutput, ListVirtualNodesOutputError>(id: "listVirtualNodes")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: ListVirtualNodesInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ListVirtualNodesInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<ListVirtualNodesInput, ListVirtualNodesOutput, ListVirtualNodesOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
        let result = operation.handleMiddleware(context: context.build(), input: input, next: client.getHandler())
        completion(result)
    }

    /// <p>Returns a list of existing virtual routers in a service mesh.</p>
    public func listVirtualRouters(input: ListVirtualRoutersInput, completion: @escaping (SdkResult<ListVirtualRoutersOutput, ListVirtualRoutersOutputError>) -> Void)
    {
        guard let meshName = input.meshName else {
            completion(.failure(.client(ClientError.serializationFailed("uri component meshName unexpectedly nil"))))
            return
        }
        let urlPath = "/v20190125/meshes/\(meshName)/virtualRouters"
        let context = HttpContextBuilder()
                      .withEncoder(value: encoder)
                      .withDecoder(value: decoder)
                      .withMethod(value: .get)
                      .withPath(value: urlPath)
                      .withServiceName(value: serviceName)
                      .withOperation(value: "listVirtualRouters")
                      .withIdempotencyTokenGenerator(value: config.idempotencyTokenGenerator)
                      .withLogger(value: config.logger)
                      .withCredentialsProvider(value: config.credentialsProvider)
                      .withRegion(value: config.region)
                      .withHost(value: "appmesh.\(config.region).amazonaws.com")
                      .withSigningName(value: "appmesh")
                      .withSigningRegion(value: config.signingRegion)
        var operation = OperationStack<ListVirtualRoutersInput, ListVirtualRoutersOutput, ListVirtualRoutersOutputError>(id: "listVirtualRouters")
        operation.addDefaultOperationMiddlewares()
        operation.serializeStep.intercept(position: .before, middleware: ListVirtualRoutersInputHeadersMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ListVirtualRoutersInputQueryItemMiddleware())
        operation.serializeStep.intercept(position: .before, middleware: ContentTypeMiddleware<ListVirtualRoutersInput, ListVirtualRoutersOutput, ListVirtualRoutersOutputError>(contentType: "application/json"))
        operation.deserializeStep.intercept(position: .before, middleware: LoggerMiddleware(clientLogMode: config.clientLogMode))
        operation.buildStep.intercept(position: .before, middleware: EndpointResolverMiddleware(endpointResolver: config.endpointResolver, serviceId: serviceName))
        operation.finalizeStep.intercept(position: .after, middleware: RetrierMiddleware(retrier: config.retrier))
        let sigv4Config = SigV4Config(unsignedBody: false)
        operation.finalizeStep.intercept(position: .before,
                                                 middleware: SigV4Middleware(config: sigv4Config))
        operation.buildStep.intercept(position: .before, middleware: UserAgentMiddleware(metadata: AWSUserAgentMetadata.fromEnv(apiMetadata: APIMetadata(serviceId: serviceName, version: "1.0"))))
[...]
