# This script is for building the full SDK
# It will regenerate all models, build the full SDK with the new models, and run tests.
name: Codegen, Build, and Test triggered via comment

on:
  issue_comment:
    types: [created]

env:
  AWS_SWIFT_SDK_USE_LOCAL_DEPS: 1

jobs:
  codegen-build-test:
    runs-on: macos-13-xl
    env:
      DEVELOPER_DIR: /Applications/Xcode_15.0.app/Contents/Developer
    if: |
      github.event.pull_request.head.repo.full_name == github.repository &&
      github.event.issue.pull_request &&
      contains(github.event.comment.body, '/test')
    steps:
      - name: Get PR branch
        uses: xt0rted/pull-request-comment-branch@v2
        id: comment-branch
      - name: Set initial commit status as pending
        uses: myrotvorets/set-commit-status-action@master
        if: always()
        with:
          sha: ${{ steps.comment-branch.outputs.head_sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout aws-sdk-swift
        uses: actions/checkout@v3
        with:
          ref: ${{ steps.comment-branch.outputs.head_ref }}
      - name: Select smithy-swift branch
        run: |
          ORIGINAL_REPO_HEAD_REF="${{ steps.comment-branch.outputs.head_ref }}" \
          DEPENDENCY_REPO_URL="https://github.com/smithy-lang/smithy-swift.git" \
          ./scripts/ci_steps/select_dependency_branch.sh
      - name: Checkout smithy-swift
        uses: actions/checkout@v3
        with:
          repository: smithy-lang/smithy-swift
          ref: ${{ env.DEPENDENCY_REPO_SHA }}
          path: smithy-swift
      - name: Move smithy-swift into place
        run: mv smithy-swift ..
      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: 1-${{ runner.os }}-gradle-${{ hashFiles('settings.gradle.kts', 'gradle/wrapper/gradle-wrapper.properties') }}
          restore-keys: |
            1-${{ runner.os }}-gradle-${{ hashFiles('settings.gradle.kts', 'gradle/wrapper/gradle-wrapper.properties') }}
            1-${{ runner.os }}-gradle-
      - name: Cache Swift
        uses: actions/cache@v3
        with:
          path: |
            ~/Library/Caches/org.swift.swiftpm
            ~/.cache/org.swift.swiftpm
          key: 1-${{ runner.os }}-${{ matrix.xcode }}-${{ hashFiles('Package.swift', 'AWSSDKSwiftCLI/Package.swift') }}
          restore-keys: |
            1-${{ runner.os }}-${{ matrix.xcode }}-${{ hashFiles('Package.swift', 'AWSSDKSwiftCLI/Package.swift') }}
            1-${{ runner.os }}-${{ matrix.xcode }}-
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: corretto
          java-version: 17
      - name: Tools Versions
        run: |
          ./scripts/ci_steps/log_tool_versions.sh
          echo
          echo "Head ref for comment PR: ${{ steps.comment-branch.outputs.head_ref }}"
          echo "SHA for comment PR: ${{ steps.comment-branch.outputs.head_sha }}"
      - name: Code-Generate SDK
        run: ./scripts/ci_steps/codegen_sdk.sh
      - name: Build and Run Unit Tests
        run: |
          swift build --build-tests
          swift test --skip-build
      - name: Set final commit status as ${{ job.status }}
        uses: myrotvorets/set-commit-status-action@master
        if: always()
        with:
          sha: ${{ steps.comment-branch.outputs.head_sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
