# This script is for building the full SDK
# It will regenerate all models, build the full SDK with the new models, and run tests.
name: Codegen, Build, and Test

on:
  workflow_dispatch:
  pull_request:

env:
  AWS_SWIFT_SDK_USE_LOCAL_DEPS: 1

jobs:
  codegen-build-test:
    runs-on: macos-14-xlarge
    environment: Codegen-Build-Test
    env:
      DEVELOPER_DIR: /Applications/Xcode_15.2.app/Contents/Developer
    steps:
      - name: Checkout aws-sdk-swift
        uses: actions/checkout@v3
      - name: Select smithy-swift branch
        run: |
          ORIGINAL_REPO_HEAD_REF="${GITHUB_HEAD_REF:-$GITHUB_REF_NAME}" \
          DEPENDENCY_REPO_URL="https://github.com/smithy-lang/smithy-swift.git" \
          ./scripts/ci_steps/select_dependency_branch.sh
      - name: Checkout smithy-swift
        uses: actions/checkout@v3
        with:
          repository: smithy-lang/smithy-swift
          ref: ${{ env.DEPENDENCY_REPO_SHA }}
          path: smithy-swift
      - name: Move smithy-swift into place
        run: mv smithy-swift ..
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: corretto
          java-version: 17
      - name: Tools Versions
        run: ./scripts/ci_steps/log_tool_versions.sh
      - name: Code-Generate SDK
        run: ./scripts/ci_steps/codegen_sdk.sh
      - name: Build and Run Unit Tests
        run: |
          swift build --build-tests
          swift test --skip-build

