name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  PACKAGE_NAME: aws-sdk-swift

jobs:
  ktlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Lint ${{ env.PACKAGE_NAME }}
        run: |
          ./gradlew ktlint
  swiftlint:
    runs-on: macos-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Run swiftlint on AWSClientRuntime
        run: swiftlint lint --reporter github-actions-logging --path ./AWSClientRuntime
